/* GLITCH TEXT */
#app {
  background: transparent;
  margin-top: 100px;
  position: absolute;
  opacity: 1;
}

body.show-chatbot #app {
  opacity: 0;
}

#wrapper {
  text-align: center;
}

#wrapper button {
  background: none;
  border: none;
}

.sub {
  color: var(--bg-color);
  font-size: .80em;
  font-family: var(--main-font);
  cursor: pointer;
  letter-spacing: .20em;
  animation: glitch-skew 5s infinite linear alternate-reverse;
}

.sub:hover {
  font-size: .85em;
}

#wrapper h1 {
  margin-left: 20px;
  color: var(--white-color-4);
  font-size: 3.5em;
  font-family: var(--main-font);
  letter-spacing: 0.25em;
  animation: glitch-skew 3s infinite linear alternate-reverse;
}
.glitch::before,
.glitch::after,
.sub::before,
.sub::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.glitch::before {
  left: 2px;
  /* text-shadow: -2px 0 var(--bg-color); */
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 3s infinite linear alternate-reverse;
}

.glitch::after{
  left: -2px;
  /* text-shadow: -2px 0 var(--first-color), 2px 2px var(--second-color); */
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim2 3s infinite linear alternate-reverse;
}

.sub::before {
  left: 2px;
  clip: rect(0px, 9999px, 0px, 0); /* Broader clipping range */
  animation: glitch-anim 3s infinite linear alternate-reverse; /* Faster glitch animation */
}

.sub::after {
  left: -2px;
  clip: rect(0px, 9999px, 0px, 0);
  animation: glitch-anim2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(11px, 9999px, 74px, 0);
    transform: skew(4deg);
  }
  5% {
    clip: rect(32px, 9999px, 56px, 0);
    transform: skew(2deg);
  }
  10% {
    clip: rect(15px, 9999px, 45px, 0);
    transform: skew(-1deg);
  }
  15% {
    clip: rect(56px, 9999px, 23px, 0);
    transform: skew(-3deg);
  }
  20% {
    clip: rect(66px, 9999px, 12px, 0);
    transform: skew(6deg);
  }
  25% {
    clip: rect(44px, 9999px, 41px, 0);
    transform: skew(0deg);
  }
  30% {
    clip: rect(22px, 9999px, 61px, 0);
    transform: skew(-5deg);
  }
  35% {
    clip: rect(54px, 9999px, 12px, 0);
    transform: skew(8deg);
  }
  40% {
    clip: rect(35px, 9999px, 62px, 0);
    transform: skew(3deg);
  }
  45% {
    clip: rect(11px, 9999px, 44px, 0);
    transform: skew(-1deg);
  }
  50% {
    clip: rect(21px, 9999px, 11px, 0);
    transform: skew(2deg);
  }
  55% {
    clip: rect(33px, 9999px, 32px, 0);
    transform: skew(-4deg);
  }
  60% {
    clip: rect(44px, 9999px, 52px, 0);
    transform: skew(6deg);
  }
  65% {
    clip: rect(65px, 9999px, 32px, 0);
    transform: skew(-2deg);
  }
  70% {
    clip: rect(55px, 9999px, 47px, 0);
    transform: skew(1deg);
  }
  75% {
    clip: rect(32px, 9999px, 21px, 0);
    transform: skew(7deg);
  }
  80% {
    clip: rect(23px, 9999px, 35px, 0);
    transform: skew(0deg);
  }
  85% {
    clip: rect(45px, 9999px, 43px, 0);
    transform: skew(-3deg);
  }
  90% {
    clip: rect(11px, 9999px, 45px, 0);
    transform: skew(4deg);
  }
  95% {
    clip: rect(11px, 9999px, 22px, 0);
    transform: skew(2deg);
  }
  100% {
    clip: rect(44px, 9999px, 56px, 0);
    transform: skew(-1deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(12px, 9999px, 32px, 0);
    transform: skew(4deg);
  }
  5% {
    clip: rect(56px, 9999px, 18px, 0);
    transform: skew(-2deg);
  }
  10% {
    clip: rect(23px, 9999px, 44px, 0);
    transform: skew(1deg);
  }
  15% {
    clip: rect(45px, 9999px, 11px, 0);
    transform: skew(3deg);
  }
  20% {
    clip: rect(11px, 9999px, 34px, 0);
    transform: skew(-1deg);
  }
  25% {
    clip: rect(67px, 9999px, 23px, 0);
    transform: skew(2deg);
  }
  30% {
    clip: rect(22px, 9999px, 51px, 0);
    transform: skew(5deg);
  }
  35% {
    clip: rect(56px, 9999px, 45px, 0);
    transform: skew(0deg);
  }
  40% {
    clip: rect(12px, 9999px, 34px, 0);
    transform: skew(6deg);
  }
  45% {
    clip: rect(43px, 9999px, 56px, 0);
    transform: skew(-2deg);
  }
  50% {
    clip: rect(21px, 9999px, 65px, 0);
    transform: skew(-3deg);
  }
  55% {
    clip: rect(67px, 9999px, 43px, 0);
    transform: skew(1deg);
  }
  60% {
    clip: rect(12px, 9999px, 42px, 0);
    transform: skew(4deg);
  }
  65% {
    clip: rect(54px, 9999px, 11px, 0);
    transform: skew(-3deg);
  }
  70% {
    clip: rect(21px, 9999px, 62px, 0);
    transform: skew(5deg);
  }
  75% {
    clip: rect(45px, 9999px, 23px, 0);
    transform: skew(0deg);
  }
  80% {
    clip: rect(11px, 9999px, 45px, 0);
    transform: skew(2deg);
  }
  85% {
    clip: rect(44px, 9999px, 45px, 0);
    transform: skew(6deg);
  }
  90% {
    clip: rect(66px, 9999px, 32px, 0);
    transform: skew(1deg);
  }
  95% {
    clip: rect(34px, 9999px, 11px, 0);
    transform: skew(-1deg);
  }
  100% {
    clip: rect(56px, 9999px, 45px, 0);
    transform: skew(3deg);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(3deg);
  }
  5% {
    transform: skew(0deg);
  }
  10% {
    transform: skew(-4deg);
  }
  15% {
    transform: skew(1deg);
  }
  20% {
    transform: skew(-3deg);
  }
  25% {
    transform: skew(2deg);
  }
  30% {
    transform: skew(0deg);
  }
  35% {
    transform: skew(-1deg);
  }
  40% {
    transform: skew(4deg);
  }
  45% {
    transform: skew(-2deg);
  }
  50% {
    transform: skew(3deg);
  }
  55% {
    transform: skew(-1deg);
  }
  60% {
    transform: skew(2deg);
  }
  65% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(-4deg);
  }
  75% {
    transform: skew(1deg);
  }
  80% {
    transform: skew(-2deg);
  }
  85% {
    transform: skew(3deg);
  }
  90% {
    transform: skew(0deg);
  }
  95% {
    transform: skew(-3deg);
  }
  100% {
    transform: skew(2deg);
  }
}